---
layout: page
title: Tags
---

<ul class="tag-cloud">
  {% for tag_pair in site.tags %}
    {% assign tag = tag_pair | first %}
    {% assign posts = tag_pair | last %}
    <li style="font-size: {{ posts | size | times: 150 | divided_by: site.tags.size | plus: 90  }}%">
      <a href="#{{ tag | downcase | replace:" ","-" }}">
        {{ tag }}
      </a>
    </li>
  {% endfor %}
</ul>

{% for tag_pair in site.tags %}
  {% assign tag = tag_pair | first %}
  {% assign posts = tag_pair | last %}

  <h2 id="{{ tag | downcase | replace:" ","-" }}">{{ tag }}</h2>
  <ul>
  {% for post in posts %}
    {% if post.tags contains tag %}
    <li>
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      <span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
{% endfor %}
