---
layout: page
title: Tags
---

<ul class="tags">
{% for tag_pair in site.tags %}
  {% assign tag = tag_pair | first %}
  {% assign posts = tag_pair | last %}
  <li>
    <a class="tag" href="{{ site.baseurl }}/tags#{{ tag | downcase | replace:" ","-" }}">
      {{ tag }}
    </a>
  </li>
{% endfor %}
</ul>

{% for tag_pair in site.tags %}
  {% assign tag = tag_pair | first %}
  {% assign posts = tag_pair | last %}

  <h2 id="{{ tag | downcase | replace:" ","-" }}">{{ tag }}</h2>
  <ul>
  {% for post in posts %}
    {% if post.tags contains tag %}
    <li>
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      <span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
{% endfor %}
