// Code
//
// Inline and block-level code snippets.

code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}

pre {
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  background-color: black;
  border-radius: .25rem;
  overflow-x: auto;

  .cl {
    display: block;
    clear: both;
  }

  .line-number {
    color: grey;
    float: left;
    margin: 0 1em 0 -1em;
    border-right: 1px solid;
    text-align: right;

    span {
      display: block;
      padding: 0 .5em 0 1em;
    }
  }

  code {
    padding: 0;
    font-size: 100%;
    color: white;
    background-color: transparent;
    display: block;
  }
}